.Rproj.user
.Rhistory
.RData
.Ruserdata

README.html

check-randomization.aux
check-randomization.log
check-randomization.out

sara-results.aux
sara-results.log
sara-results.out

sara-tables-main.aux
sara-tables-main.log
sara-tables-main.out
sara-tables-supp.Rmd
